body {
  background: url("/images/bg-header-mobile.png") no-repeat;
  background-size: contain;
  background-position: top;
  background-color: var(--clr--white);
  font-family: var(--ff--primary);
  font-size: var(--fs--regular);

  @media only screen and (min-width: 992px) {
    background: url("/images/bg-header-desktop.png") no-repeat;
    background-size: contain;
    background-position: top center;
  }
}
